@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <label>Nombre del secreto</label>
        <input type="text" name="secretname" class="form-control"/>
        <button class="btn btn-warning">Mostrar Secreto</button>
    </form>
    <h2>@ViewData["SECRETO"]</h2>
</div>
